// === HELPERS === //

// — Extends — //

%texture--light {
	background: $color__white url("./assets/images/noise--light.png") center center;
}

%texture--dark {
	background: $color__black url("./assets/images/noise--dark.png") center center;
}

// — Utility classes — //

.fade-content {
	& > * {
		$fade-in: 250ms;
		transition: opacity $fade-in, transform $fade-in;
		&:nth-child(1) {
			opacity: 1 !important;
			transform: translateY(0) !important;
		}
	}
	&__element {
		// .fade-content__element
		opacity: 0;
		transform: translateY(2em);
	}
}

.screen-reader-text,
.sr-only {
	@include hidden();
}

// — Required WP Classes — //

.sticky {}
.gallery-caption {}
.bypostauthor {}