// === MIXINS === //

@mixin clearfix() {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin hidden() {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@mixin text-overflow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin box-shadow() {
	box-shadow: 0 0 34px 0 fade-out($color__black, 0.93);
}

// — Links — //

@mixin inline-link() {
	display: inline;
	background-image: linear-gradient(to top, $color__blue 25%, transparent 25%);
	background-size: 100% 100%;
	background-position: left 0 bottom 0;
	background-repeat: no-repeat;
	color: inherit;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
	transition: background-size $base-duration, border-color $base-duration;

	&:hover,
	&:focus {
		background-size: 100% 400%;
	}
}

@mixin block-link() {
	@include position(absolute, 0 0 0 0);
	background-image: none !important;
	z-index: 1;
}

@mixin btn {
	// https://codepen.io/Zeindelf/pen/vZbyEg
	position: relative;
	display: inline-block;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	padding: $small-spacing $base-spacing calc(#{$small-spacing} + 7px);
	border: 3px $color__black solid;
	background-color: $color__white;
	background-image: none !important;
	color: $color__black;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
	appearance: none;
	user-select: text;

	&::after {
		content: "";
		@include position(absolute, null null 0 0);
		display: block;
		@include size(100%, 7px);
		border-top: 2px solid $color__black;
		background-image: repeating-linear-gradient(
			45deg,
			$color__black,
			$color__black 1px,
			transparent 2px,
			transparent 5px
		);
		background-size: 7px;
		backface-visibility: hidden;
	}

	&:hover,
	&:focus {
		background-color: $color__black;
		color: $color__white;

		&::after {
			background-image: repeating-linear-gradient(
				45deg,
				$color__white,
				$color__white 1px,
				transparent 2px,
				transparent 5px
			);
			animation: stripe-slide 6s infinite linear forwards;
		}
	}
}

@keyframes stripe-slide {
	0% { background-position: 0% 0; }
	100% { background-position: 100% 0; }
}

// — Screenprint Effects — //

@mixin screenprint-text() {
	// https://codepen.io/flowuhh/pen/YjQKeZ
	color: inherit;
	font-family: $font__main;
	font-weight: 700;
	@supports (-webkit-text-fill-color: transparent) {
		position: relative;
		color: transparent;
		// text-shadow: 2px 2px 0 $color__blue;
		letter-spacing: 2px;
		overflow: visible;
		z-index: 1;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: $color__black;
		&::after {
			content: attr(data-title);
			@include position(absolute, 2px null null 2px);
			background: url('./assets/images/light_toast.png') repeat;
//			background-color: fade-out($color__black, 0.95);
//			background-color: $color__blue;
			background-clip: text;
			-webkit-text-stroke-width: 0;
			overflow: visible;
			z-index: -1;
		}
	}
}

@mixin screenprint-block() {
	position: relative;
	background: url('./assets/images/vintage-concrete.jpg') repeat;
	&::after {
		content: "";
		@include position(absolute, 12px null null 10px);
		border: 2px fade-out($color__black, 0.95) solid;
		border-radius: 2px;
		@include size(#{calc(100% - 3px)});
	}
}

// — Page Styles — //

@mixin page-title() {
	font-family: $font__main;
	font-size: 2em;
	margin-bottom: $small-spacing;
	@include media(">=mobile--sm") {
		font-size: 2.25em;
	}
	@include media(">=mobile--lg") {
		font-size: 2.5em;
	}
	@include media(">=tablet--sm") {
		font-size: 2.75em;
	}
	@include media(">=tablet--lg") {
		font-size: 3em;
	}
	@include media(">=small") {
//		@include screenprint-text();
		font-size: 3.5em;
//		-webkit-text-stroke-width: 2px;
	}
	@include media(">=medium") {
		font-size: 4em;
	}
	@include media(">=medium") {
		font-size: 4.5em;
	}
}

@mixin body-copy() {
	font-family: $font__copy;
	font-size: 1em;
	line-height: 1.5em;
	widows: 3;
	orphans: 3;
}

@mixin event-info($underline: null) {
	display: inline-block;
	background-color: $color__white--dark;
	color: inherit;
	font-size: .75em;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 5px;
	opacity: 1;
	transition: opacity $base-duration;
	@include media(">=small") {
		opacity: 1;
	}

	$underline: null !default;
	@if $underline == null {
		border: 0;
	} @else {
		border-bottom: 1px $color__black solid;
	}

	// change layout if browser supports flexbox
//	@supports (display: flex) {
		@include media(">=small") {
			background-color: transparent;
			color: inherit;
			border-bottom: 1px transparent solid;
			padding: 0;
			white-space: nowrap;
			transform: translateY(0);
			transition: transform $base-duration;
		}
//	}
}
