// === VARIABLES === //

// — Headers — //

$color__blue: #6ecff2;

$color__brown: #98724b;

$color__white: #fbfdff;
$color__white--dark: shade($color__white, 16.667%);
$color__white--darker: shade($color__white, 33.333%);
$color__white--darkest: shade($color__white, 50%);

$color__black: #212121;
$color__black--light: tint($color__black, 16.667%);
$color__black--lighter: tint($color__black, 33.333%);
$color__black--lightest: tint($color__black, 50%);

// — Typefaces — //

$font__main: "Poppins", $font-stack-helvetica;
$font__copy: $font-stack-system;
$font__code: "Inconsolata", $font-stack-monaco;

// — @include-media — //

$gutter: 20px;

$breakpoints: (
	"mobile--sm" : 375px,
	"mobile--lg" : 540px,
	"tablet--sm" : 768px,
	"tablet--lg" : 960px,
	"small"      : 1024px,
	"medium"     : 1366px,
	"large"      : 1600px,
	"huge"       : 1920px,
	"tv"         : 2560px
);