/*
* === BASE ===
*/

html {
	width: 100%;
}

body {
	background-color: $color__black;
	width: 100%;
	overflow-x: hidden;
}

::selection {
	background-color: $color__white--dark;
	color: $color__black;
	text-shadow: none;
}

.site {
	background: url("./assets/images/ps-floor-pattern-grey.png") center center;
	color: $color__black;
}
