/*
* === MEDIA ===
*/

img,
picture {
	display: block;
}

.svg-icon {
	@include size(1em);

	path,
	polygon,
	rect {
		fill: $color__white;
	}

	circle {
		stroke: $color__white;
		stroke-width: 1;
	}
}
