/*
* === ARTISTS ===
*/

.past-artists {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	list-style-type: none !important;
	padding-left: 0 !important;
	
	li {
		position: relative;
		line-height: 1em;
		@include padding(0 $small-spacing $small-spacing 0);
		margin-left: $small-spacing;
		
		&:after {
			content: "|";
			position: absolute;
			right: 0;
		}
	}
}