/*
* === BUTTONS ===
*/

/*
* — All Buttons —
*/

#{$all-buttons} {
	font-weight: 700;
}

.btn {
	@include btn();
	
	&--lg {
		// .btn--lg
		display: block;
		padding-left: $base-spacing;
		padding-right: $base-spacing;
		
		&::before {
			border-width: 4px;
		}
	}
	
	&--disabled {
		// .btn--disabled
		border-color: $color__black--lighter;
		background-color: $color__white--dark;
		color: $color__black--lighter;
		cursor: not-allowed;
		
		&::after {
			border-top: 2px solid $color__black--lighter;
			background-image: repeating-linear-gradient(
				45deg,
				$color__black--lighter,
				$color__black--lighter 1px,
				transparent 2px,
				transparent 5px
			);
		}
		
		&:hover {
			background-color: $color__white--dark;
			color: $color__black--lighter;
			
			&::after {
				background-image: repeating-linear-gradient(
					45deg,
					$color__black--lighter,
					$color__black--lighter 1px,
					transparent 2px,
					transparent 5px
				);
				animation: none;
			}
		}
	}
}

/*
* — Specific Buttons —
*/

.btn--toggle {
	background-color: transparent !important;
	border: 0;
	border-radius: 0;
	padding: 0;
	height: 24px;
	width: 24px;
	transform: translateX(9px);
	overflow: visible;
	appearance: none;
	z-index: 150;
	
	&::after {
		display: none;
	}
	
	.toggled--it & {
		position: fixed;
	}
	
	@include media('>=small') {
		// hide on screens above 1024px
		display: none;
	}
	
	.menu-grid {
		display: block;
		background-color: $color__black;
		margin: 0;
		height: 6px;
		width: 6px;
		transition: $base-timing $base-duration;
		
		&.open {
			box-shadow: -9px -9px 0 0 $color__black,
						0 -9px 0 0 $color__black,
						9px -9px 0 0 $color__black,
						-9px 0 0 0 $color__black,
						9px 0 0 0 $color__black,
						-9px 9px 0 0 $color__black,
						0 9px 0 0 $color__black,
						9px 9px 0 0 $color__black;
		}
		
		&.close {
			background-color: $color__white;
			box-shadow: -5px 0 0 0 $color__white,
						-10px 0 0 0 $color__white,
						0 -5px 0 0 $color__white,
						0 10px 0 0 $color__white,
						0 -10px 0 0 $color__white,
						0 5px 0 0 $color__white,
						10px 0 0 0 $color__white,
						5px 0 0 0 $color__white;
			transform: rotate(45deg) scale(0.75);
		}
	}
}

/*
* — Button groups —
*/

.btn-container {
	margin: 0;
	padding: 0;
	list-style: none;
	
	@include media(">=mobile--lg") {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	& > .btn {
		@include text-overflow();
		
		@include media("<mobile--lg") {
			display: block;
			margin-bottom: $small-spacing;
		}
		
		@include media(">=mobile--lg") {
			flex: 1 0 auto;
			margin-left: $base-spacing;
			margin-bottom: 0;

			&:first-child {
				flex: 1 0 auto;
				margin-left: 0;
			}
		}
			
		&.btn--wide {
			@include media(">=small") {
				flex: 2 2 50%;
				max-width: 50%;
				margin-left: 0;
			}
		}
		
	}
	
	& > * {
		// Single events are structure slightly different
		a {
			display: block !important;
			@include text-overflow();
		}
		
		@include media("<mobile--lg") {
			a {
				margin-bottom: $small-spacing;
			}
		}
		
		@include media(">=mobile--lg") {
			flex: 1 2 auto;
			max-width: 200px;
			margin-left: $base-spacing;

			&:first-child {
				flex-grow: 2;
				flex-basis: 100%;
				max-width: 100%;
				margin-left: 0;
			}

			&:last-child {}
		}
	}
}

/*
* — Semantic UI —
*/

.ui.button {
	font-family: $font__main;
}

.ui.primary.buttons .button,
.ui.primary.button {
	background-color: $color__blue;
	font-weight: 700;
}