/*
* === BEER LIST ===
*/

.drink-menu {

	margin-bottom: $base-spacing * 2;

	&__header {
		// .drink-menu__header
		display: block;
		margin-bottom: $base-spacing;
	}

	&__section {
		// .drink-menu__section
		margin-bottom: $base-spacing;
	}

	&__section-header {
		// .drink-menu__section-header
		@include event-info();

		@include media(">=small") {
			position: sticky;
			top: 0;
			display: block;
			border-bottom: 3px $color__black solid;
			padding: $small-spacing 0;
			background-color: $color__white;
			z-index: 1;
		}
	}

	&__list {
		// .drink-menu__list
		padding: 0 !important;
		margin: 0 0 $base-spacing;
		list-style: none !important;

		// @supports (display: flex) {
			@include media(">=medium") {
				display: flex;
				flex-wrap: wrap;
			}
		// }
	}
}

.beer {
	padding-bottom: $small-spacing;
	border-bottom: 3px $color__black solid;
	margin-bottom: $small-spacing;

	// @supports (display: flex) {
		@include media(">=small") {
			display: flex;
			align-items: flex-start;
		}

		@include media(">=medium") {
			flex: 0 0 calc(50% - #{$gutter / 2});
			max-width: calc(50% - #{$gutter / 2});
			border-bottom: 0;

			&:nth-child(2n) {
				margin-left: $gutter;
			}
			&:nth-last-child(n+3) {
				border-bottom: 3px $color__black solid;
			}
		}
	// }

	&__info {
		// .beer__info

		// @supports (display: flex) {
			@include media(">=small") {
				flex: 1 0 auto;
				max-width: 100%;
			}
			@include media(">=medium") {
				flex: 0 0 66.7%;
				max-width: 66.7%;
			}
		// }
	}

	&__name {
		// .beer__name
		position: relative;
		margin-bottom: .25em;
		@include text-overflow();
		text-overflow: clip;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			display: block;
			width: 10px;
			height: 100%;
			background-image: linear-gradient(to right, transparent, $color__white);
			z-index: 10;
		}

		.new {
			@include event-info();
			padding: 3px 4px !important;
			line-height: 1em;
			border-radius: 2px;
			background-color: $color__blue !important;
			color: $color__white !important;
		}

		.name {
			font-weight: 700;
			letter-spacing: 0.05em;
		}

		.style {
			font-family: $font__copy;
			font-weight: 400;
			color: $color__black--lightest;
			transition: color $base-duration;
		}
	}

	&__details {
		// .beer__details

		@include media(">=medium") {
			@include text-overflow();
		}
	}

	&__price {
		// .beer__price

		// @supports (display: flex) {
			text-align: right;
			@include media(">=small") {
				flex: 0 1 auto;
				max-width: 100%;
			}
			@include media(">=medium") {
				flex: 0 0 33.3%;
				max-width: 33.3%;
			}
		// }

		.size {
			color: $color__black--lightest;
			transition: color $base-duration;
		}
	}

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}

	&:hover {
		.beer__name {
			.style {
				color: $color__black;
			}
		}
		.beer__price {
			.size {
				color: $color__black;
			}
		}
	}
}
