/*
* === SINGLE EVENT ===
*/

.tribe_events {
	&.post_type-tribe_events {
		margin-bottom: $gutter;
	}
}

.tribe-events {

	&__title {
		// .tribe-events__title
		@include page-title();
	}

	&__content {
		// .tribe-event__content
	}

	.tribe-events-user-recurrence-toggle {
		display: block;
	}

	.loader-ellips {
		font-size: 10px;
		position: relative;
		width: 4em;
		height: 1em;
		margin: 10px auto;
		&__dot {
			display: block;
			width: 1em;
			height: 1em;
			border-radius: 0.5em;
			background: $color__black;
			position: absolute;
			animation-duration: 0.5s;
			animation-timing-function: ease;
			animation-iteration-count: infinite;
			&:nth-child(1) {
				left: 0;
				animation-name: reveal;
			}
			&:nth-child(2) {
				left: 0;
				animation-name: slide;
			}
			&:nth-child(3) {
				left: 1.5em;
				animation-name: slide;
			}
			&:nth-child(4) {
				left: 3em;
				animation-name: reveal;
				animation-direction: reverse;
			}
		}
	}
	@keyframes reveal {
		from { transform: scale(0.001); }
		to { transform: scale(1); }
	}
	@keyframes slide {
		to { transform: translateX(1.5em) }
	}

	&__single {
		// .tribe-events__single
		@extend %texture--light;

		&--header {
			// .tribe-events__single--header
			margin-bottom: $small-spacing;
		}

		&--date {
			// .tribe-events__single--subtitle
		}

		&--title {
			// .tribe-events__single--title
		}

		&--ages {
			// .tribe-events__single--ages
			pointer-events: none;
			dt {
				display: none;
			}
		}

		&--content {
			// .tribe-events__single--content
			margin-bottom: $small-spacing;
			@include media(">=small") {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				margin-bottom: 0;
			}
		}

		&--description {
			// .tribe-events__single--description
			width: 100%;
			margin-bottom: $small-spacing;

			@include media(">=tablet--lg") {
				flex: 0 0 60%;
				order: 1;
				width: auto;
				max-width: 100%;
				margin-bottom: 0;
			}

			@include media(">=medium") {
				flex-basis: 50%;
				padding-right: $base-spacing;
			}

			.ui.basic.table {
				// semantic ui
				border-top: 0;
				border-radius: 0;
				@include media("<tablet--sm") {
					border-top: 3px fade-out($color__black, 0.9) solid;
				}

				tr {
					border-bottom: 2px fade-out($color__black, 0.9) solid;
				}
			}

			.ages {
				dt { display: none; }
			}

			.tribe-events-cal-links {
				margin: $small-spacing 0 0;
				.tribe-events-button {
					@include inline-link();
					margin-right: $small-spacing;
				}
			}

			.tribe-address {
				display: block;
				margin-bottom: $small-spacing;
			}
		}

		&--image {
			// .tribe-events__single--image
			margin-bottom: $base-spacing;
			
			@include media(">=tablet--lg") {
				flex: 0 0 40%;
				order: 2;
				position: sticky;
				top: $gutter;
				width: auto;
				max-width: 40%;
				margin-bottom: 0;
				padding-left: $base-spacing;
			}
			
			@include media(">=medium") {
				flex-basis: 50%;
				max-width: 50%;
			}

			.tribe-events-event-image {
				margin-bottom: 0; // reset default
				img {
					height: auto;
				}
			}
		}

		&--visuallyhidden {
			// .tribe-events__single--visuallyhidden
			@include hidden;
		}

		&--footer {
			// .tribe-events__single--footer
			margin-top: $base-spacing;
		}

		&--sub-nav-title {
			// .tribe-events__single--sub-nav-title
			@include event-info();
		}
		
		&--sub-nav {
			// .tribe-events__single--sub-nav
			
			a {
				display: block;
			}
			
			@include media(">=mobile--lg") {
				a {
					@include btn();
				}
			}

			li[class^="tribe-events-nav"] {}
		}
	}

	&__ticket {
		margin-top: $small-spacing;
	}
}

.ui.cards > .card > .content a:not(.ui),
.ui.card > .content a:not(.ui) {
	@include ellipsis;
}

.tribe-events-notices {
	@include event-info();
	display: block;
}