/*
* === EVENT LIST ===
*/

.event {
	position: relative;
	border: 3px $color__black solid;
	border-bottom: 0;
	padding: $small-spacing $small-spacing 0;
	margin-bottom: $small-spacing;
	cursor: pointer;
	
	@include media(">=small") {
		overflow: hidden;
		transition: border-color $base-duration, color $base-duration;
		
		&:hover,
		&:focus {
			border-color: $color__blue;
			color: $color__blue;
			
			.event__title, {
				opacity: 0;
				transform: translateY(100%);
				
				&--clone {
					// .event__title--clone
					opacity: 1;
					transform: translateY(0);
				}
			}
			
			.event__date,
			.event__cost,
			.event__button.ages {
				opacity: 0;
				transform: translateY(100%);
			}
			
			.event__button {
				border-color: $color__blue;
			}
		}
	}

	&__date {
		// .event__date
		@include event-info();
		margin-bottom: $small-spacing;
	}
	
	&__title {
		// .event__title
		font-size: 1em;
		font-weight: 700;
		margin-top: 0;
		
		@include media(">=small") {
			letter-spacing: 1px;
			text-overflow: ellipsis;
			opacity: 1;
			white-space: nowrap;
			transform: translateY(0);
			transition: opacity $base-duration, transform $base-duration;
		}
		
		&--clone {
			display: none;
			
			@include media(">=small") {
				@include position(absolute, 0 null null 0);
				display: block;
				font-family: $font__copy;
				font-size: 2em;
				font-weight: 300;
				text-align: left;
				text-overflow: ellipsis;
				line-height: .75em;
				letter-spacing: 2px;
				width: calc(100% - 150px);
				padding: .75em;
				margin: 0;
				opacity: 0;
				overflow: hidden;
				white-space: nowrap;
				transform: translateY(100%);
				transition: opacity $base-duration, transform $base-duration;
			}
		}
	}
	
	&__cost {
		// .event__cost
		@include event-info(underlined);
		margin-bottom: $small-spacing;
	}
	
	&__button {
		@include event-info(underlined);
		margin-bottom: $small-spacing;
		
		@include media(">=small") {
			margin-left: $small-spacing;
		}

		&.ages {
			dt { display: none; }
			a { text-decoration: none; }
		}
	}
	
	&__link {
		// .event__link
		@include block-link();
		
		&:focus {
			outline-offset: 4px;
		}
	}
	// change layout if browser supports flexbox
//	@supports (display: flex) {
		@include media(">=small") {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: $base-spacing;
			margin-bottom: $base-spacing;
			
			&__date,
			&__cost,
			&__button {
				flex: 0;
				margin: 0 $base-spacing 0 0;
			}
			
			&__button {
				
				&.ages {
					border-bottom-color: transparent;
					a {
						color: $color__black;
						text-decoration: none;
						white-space: nowrap;
					}
				}
				
				&.ticketweb {
					text-decoration: none;
					margin-right: 0;
					z-index: 10;
				}
			}
			
			&__title {
				flex: 1;
				margin: 0 $base-spacing 0 0;
				overflow: hidden;
			}
		}
//	}
}
