/*
* === FEATURED ===
*/

.featured-event {
	position: relative;
	width: 100%;
	margin-bottom: $base-spacing + $small-spacing;
	float: left;
	
	@include media(">=mobile--sm") {
//		width: 48%;
		width: auto;
		margin: 0 1% $base-spacing;
	}
	
	@include media(">=tablet--lg") {
//		width: 31%;
		&:nth-child(4) { display: none; }
	}
	
	@include media(">=small") {
		background-color: $color__black;
		border-bottom: 0;
		padding-bottom: 0;
		&:hover,
		&:focus {
			.featured-event__image .image {
				opacity: 0.1;
			}
			.featured-event__caption {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
	
	@include media(">=large") {
//		width: 23%;
		&:nth-child(4) { display: block; }
	}
	
//	@supports (display: grid) {
		grid-column: span 12;
		width: auto;
		margin: 0 0 $base-spacing;
		@include media(">=mobile--sm") { grid-column: span 6; }
		@include media(">=tablet--lg") { grid-column: span 4; }
		@include media(">=large") { grid-column: span 3; }
//	}
	
	.tribe-events-event-image {
		// featured image
		margin-bottom: $small-spacing;
		opacity: 1;
		transition: opacity $base-duration;
		@include media(">=small") { margin-bottom: 0; }
	}
	
	&__image {
		// .featured-event__image
		
		.image {
			display: block;
			height: auto;
			max-width: 100%;
			opacity: 1;
			transition: opacity $base-duration;
		}
	}
	
	&__caption {
		// .featured-event__caption
		@include media(">=small") {
			@include position(absolute, $small-spacing $small-spacing $small-spacing $small-spacing);
			color: $color__white;
			border: 2px $color__white solid;
			padding: $small-spacing;
			opacity: 0;
			transform: translateY($small-spacing);
			transition: opacity $base-duration, transform $base-duration;
//			@supports (display: flex) {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-start;
//			}
		}
		@include media(">=medium") {
			@include position(absolute, $base-spacing $base-spacing $base-spacing $base-spacing);
			padding: $base-spacing;
		}
	}
	
	&__title {
		// .featured-event__title
		@include media(">=mobile--sm") { font-size: 1em; }
		@include media(">=small") {
			font-family: $font__copy;
			font-size: 1.25em;
		}
		@include media(">=medium") { font-size: 1.5625em; }
	}
	
	&__list {
		// .featured-event__list
		@include body-copy();
		@include clearfix();
//		@supports (display: flex) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
//		}
		
		&--item {
			// .featured-event__list--item
			&.tickets {
				align-self: flex-end;
				border-bottom: 1px $color__white solid;
				z-index: 10;
			}
			span { font-weight: 700; }
			.tribe-event-tags {
				a {
					display: block;
					text-decoration: none;
				}
			}
		}
		
		@include media(">=small") {
			font-size: .75em;
			font-weight: 300;
			line-height: 1.5em;
			letter-spacing: 1px;
		}
		
		@include media(">=large") {
			font-size: 1em;
		}
	}
	&__link {
		// .featured-event__link
		@include block-link();
	}
}