/*
* === NAVIGATION ===
*/

.main-nav {
	// mobile menu
	@include media("<small") {
		@include position(fixed, 0 null null 0);
		background-color: $color__white;
		width: 312px;
		height: auto;
		min-height: 100vh;
		transform: translate3d(-312px,0,0);
		transition: box-shadow $base-duration, transform $base-duration;
		z-index: 100;
		.toggled--it & {
			box-shadow: 0 0 5px 0 fade-out($color__black, 0.85);
			transform: translate3d(0,0,0);
		}
		&__banner {
			// .main-nav__banner
			position: relative;
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;
			background-color: $color__white--dark;
			color: $color__white;
			text-align: center;
			min-height: 250px;
			overflow: hidden;
			z-index: -1;
		}
		&__image {
			// .main-nav__image
			@include position(absolute, 0);
			@include size(312px, 250px);
			object-fit: cover;
			pointer-events: none;
		}
		&__title {
			// .main-nav__title
			font-size: 1.125em;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding-bottom: $small-spacing;
			&::after {
				content: "";
				@include position(absolute, null null 0 50%);
				background-color: $color__white;
				width: 100px;
				height: 4px;
				transform: translateX(-50px);
			}
		}
		&__subtitle {
			// .main-nav__subtitle
			font-family: $font__copy;
			font-size: .75em;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 4px;
		}
		&__social {
			// .main-nav__social
			position: absolute;
			bottom: $small-spacing;
			display: flex;
			align-items: center;
			font-size: 1.25em;
			li { margin: 0 $small-spacing; }
		}
		&__menu {
			// .main-nav__menu
			height: calc(100vh - 250px);
			overflow: scroll;
			& > .menu-item {
				border-top: 1px shade($color__white, 5%) solid;
				& > a {
					display: block;
					font-family: $font__main;
					font-weight: 700;
					text-decoration: none;
					text-transform: uppercase;
					padding: $base-spacing $small-spacing;
					margin: 0 $small-spacing;
				}
				& > .sub-menu {
					background-color: shade($color__white, 5%);
					& > .menu-item {
						& > a {
							position: relative;
							display: block;
							color: $color__black--lighter;
							text-decoration: none;
							padding: $small-spacing $base-spacing;
							z-index: 1;
						}
					}
				}
			}
			// Icons
			.menu-item {
				a {
					.fa-long-arrow-alt-right {
						color: $color__white--dark;
						margin-left: $base-spacing;
						transform: translateX(0);
						transition: transform $base-duration;
					}
					&:hover,
					&:focus {
						.fa-long-arrow-alt-right {
							transform: translateX($small-spacing);
						}
					}
				}
			}
		}
	}
	//
	// switch to desktop view at 1024px
	//
	@include media(">=small") {
		&__banner {
			display: none;
		}
		&__menu {
			.menu-item {
				// cancel out mobile icons
				a {
					.fa-long-arrow-alt-right { display: none; }
				}
			}
			& > .menu-item {
				float: left;
				height: 80px;
				line-height: 80px;
				margin-right: $small-spacing;
				overflow: hidden;
				& > a {
					display: inline-block;
					font-family: $font__main;
					font-weight: 700;
					text-decoration: none;
					text-transform: uppercase;
					padding: 0 1em;
					letter-spacing: 2px;
					vertical-align: bottom;
					transition: color $base-duration;
					&:focus {
						outline-color: fade-out($color__blue, 0.4);
					}
					&::before,
					&::after {
						@include position(absolute, 0 null null null);
						pointer-events: none;
						opacity: 0;
						transition: opacity $base-duration, transform $base-duration;
					}
					&::before {
						content: "[";
						left: 0;
						transform: translateX(-100%);
					}
					&::after {
						content: "]";
						right: 0;
						transform: translateX(100%);
					}
				}
				&:hover {
					// applied class when li is hovered, for sub navs
					& > a {
						&::before,
						&::after {
							color: $color__blue;
							opacity: 1;
							transform: translateX(0);
						}
					}
					& > .sub-menu {
						opacity: 1;
						visibility: visible;
						z-index: 1;
					}
				}
			}
			.sub-menu {
				@include position(absolute, 80px null null null);
				background: shade($color__white, 5%) url("./assets/images/noise--light.png") center center;
				border-bottom: 3px $color__blue solid;
				font-size: .875em;
				min-width: 160px;
				padding: 0 $base-spacing;
				opacity: 0;
				visibility: hidden;
				transition: $base-duration $base-timing;
				z-index: -1;
				.menu-item {
					line-height: 1.5em;
					height: auto;
					padding: $base-spacing 0;
					& > a {
						color: $color__black--light;
						font-family: $font__copy;
						font-weight: 700;
						text-decoration: none;
						border-bottom: 3px transparent solid;
						transition: $base-duration $base-timing;
						&:hover,
						&:focus { border-color: $color__blue; }
					}
				}
			}
			& > .menu-item-home {
				// hide link to home page on desktop
				// logo already links to home page
				display: none;
			}
		}
	}
	&__fade {
		// .main-nav__fade
		@include position(fixed, 0);
		background-color: #000;
		opacity: 0;
		transition: $base-duration $base-timing;
		visibility: hidden;
		z-index: 99;
		.toggled--it & {
			opacity: 0.4;
			visibility: visible;
		}
	}
}

// not enough scrolling room otherwise
@media (max-height: 540px) {
	.main-nav__menu { height: auto; }
	.main-nav__banner { @include hidden(); }
}
