/*
* === SWIPER ===
*/

//.swiper-button-prev,
//.swiper-button-next {
//	position: absolute;
//	top: 50%;
//	background-image: none;
//	width: 70px;
//	height: 90px;
//	margin-top: -45px;
//	margin-left: -35px;
//	cursor: pointer;
//	svg { padding: 5px; }
//	polyline { transition: $base-duration $base-timing; }
//	&:hocer,
//	&:focus {
//		polyline {
//			stroke-width: 3;
//		}
//	}
//	&:active {
//		polyline { stroke-width: 6; }
//	}
//}
//
//.swiper-button-prev {
//	left: $base-spacing + $small-spacing;
//}
//
//.swiper-button-next {
//	right: $base-spacing + $small-spacing;
//}