/*
* === FOOTER ===
*/

.site__footer {
	padding: $gutter;
	@extend %texture--dark;
	color: $color__white;

	@include media(">=mobile--lg") {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-column-gap: $base-spacing;
		align-items: start;
	}

	&--image {
		// .site__footer--image
		text-align: center;
		margin-bottom: $base-spacing;
		
		@include media(">=mobile--lg") {
			grid-column: span 6;
		}
		
		@include media(">=tablet--lg") {
			grid-column: span 2;
			order: 2;
			align-self: center;
		}
		
		img {
			max-width: 200px;
			margin: 0 auto;
			pointer-events: none;
		}
	}

	&--left {
		// .site__footer--left
		@include body-copy();
		margin-bottom: $base-spacing;

		@include media(">=mobile--lg") {
			grid-column: span 3;
		}
		
		@include media(">=tablet--lg") {
			grid-column: span 2;
			order: 3;
		}
	}

	&--right {
		// .site__footer--right
		@include body-copy();
		margin-bottom: $base-spacing;
		
		@include media(">=mobile--lg") {
			grid-column: span 3;
		}
		
		@include media(">=tablet--lg") {
			grid-column: span 2;
			order: 1;
		}
	}

	&--info {
		// .site__footer--info
		border-top: 2px $color__black--light solid;
		border-bottom: 2px $color__black--light solid;
		color: $color__white--dark;
		text-align: center;
		padding: $small-spacing 0;
		
		@include media(">=small") {
			font-size: .75em;
			padding: $gutter 0;
		}
		
		@include media(">=mobile--lg") {
			grid-column: span 6;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
		
		@include media(">=tablet--lg") { order: 4; }
	}

	&--copyright {
		// .site__footer--copyright
		li {
			position: relative;
			display: inline-block;
			
			&::after {
				content: " |";
				padding: 0 $small-spacing;
			}
			
			&:last-child {
				&::after { display: none; }
			}
		}
	}

	&--address {
		position: relative;
		@include body-copy();
		margin-bottom: $small-spacing;
		
		@include media(">=mobile--lg") {
			text-align: left;
			margin-bottom: 0;
		}
		
		a {
			@include block-link();
		}
	}

	&--credits {
		@include body-copy();
		
		a {
			@include inline-link();
			border: 0;
			background: none;
			
			&:hover,
			&:focus {
				background-image: none;
				color: $color__white;
				border-color: $color__white--darkest;
			}
		}
		
		@include media(">=mobile--lg") {
			text-align: right;
			margin-bottom: 0;
		}
	}
}