/*
* === GRID ===
*/

.site__content {
	margin-left: $gutter / 2;
	margin-right: $gutter / 2;
	
	@include media(">=tablet--sm") {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: $gutter;
		grid-auto-rows: 1fr;
		align-items: start;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: $gutter;
		padding: 0 $gutter;
	}
		
	@include media(">=small") {
		padding-left: $gutter * 2;
		padding-right: $gutter * 2;
		grid-template-columns: repeat(16, 1fr);
	}
	
	@include media(">=medium") {
		padding-left: $gutter * 4;
		padding-right: $gutter * 4;
	}
	
	@include media(">=large") {
		max-width: 1440px;
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
	}
	
	article[class^="post_type-"] {
		@extend %texture--light;
		padding: $gutter;
		margin-bottom: $gutter;
		width: 100%;
		@include box-shadow();
		
		@include media(">=tablet--sm") {
			margin-bottom: 0;
			grid-column: span 3;
			order: 2;
		}
		
		@include media(">=small") {
			grid-column: 5 / 17;
			grid-row: 1;
			order: 1;
			padding: $gutter * 2;
			padding-left: calc( #{percentage(1/12)} + #{$gutter} );
		}
	}
	
	.site__sidebar {
		grid-column: span 1;
		order: 1;
		
		@include media(">=small") {
			grid-column: 1 / 6;
			grid-row: 1;
			order: 2;
			margin-top: $gutter;
			z-index: 1;
		}
	}
}

.page__title {
	@include page-title();
}

.page__content {
	
	&--more {
		// .page__content--more

		& > .btn {
			display: inline-block;
		}
	}
}
