/*
* === HEADER ===
*/

.site__header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding: 0 $gutter;
	margin-bottom: $small-spacing;
	@extend %texture--light;
	
	@include media(">=mobile--lg") {
		margin-bottom: $base-spacing;
	}
	
	@include media(">=small") {
		justify-content: flex-start;
		background-color: $color__black;
		background-image: url("./assets/images/noise--dark.png");
		color: $color__white;
		z-index: 100;
	}
	
	@include media(">=medium") {
		margin-bottom: $gutter * 2;
	}
}

.header {
	&__logo {
		// .header__logo
		display: none;
		
		@include media(">=small") {
			position: relative;
			display: block;
			margin-right: $gutter;
			padding-top: $gutter / 2;
			padding-bottom: $gutter / 2;
			img {
				display: block;
				width: auto;
				max-height: calc(80px - #{$gutter});
				pointer-events: none;
			}
		}
		
		&--link {
			// .header__logo--link
			@include block-link();
		}
	}
	
	&__social {
		// .header__social
		margin-left: auto;
		display: flex;
		align-items: center;
		
		&--link {
			// .header__social--link
			margin: 0 $small-spacing / 2;
			
			a {
				@include media(">=small") {
					&:hover,
					&:focus {
					}
				}
			}
		}
	}
}