/**
 * === SIDEBAR ===
 */

.site__sidebar {

	.widget {
		margin-bottom: $base-spacing;
		@include box-shadow();

		.widgettitle {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background: $color__black url("./assets/images/noise--dark.png") center center;
			color: $color__white;
			font-size: 1em;
			font-weight: 700;
			text-align: center;
			margin: 0;
			padding: $base-spacing;

			.bar {
				background-color: $color__white--darkest;
				@include size(100%, 2px);
				margin-right: $base-spacing;
			}

			h3, h4 {
				color: $color__white;
				margin: 0;
			}
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}

/*
* — Specials —
*/

.widget__today {

	&--special {
		// .widget__today--special
		@extend %texture--light;
		padding: $base-spacing;
		margin: 0;
	}
}

/*
* — Instagram —
*/

.null-instagram-feed {

	.instagram-pics {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		grid-gap: $small-spacing;
		align-items: center;
		margin: 0;
		padding: $small-spacing;
		@extend %texture--light;

		@include media(">=mobile--lg") {
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: auto;
		}

		li {
			grid-column: span 3;
			width: auto;
			margin: 0;

			@include media(">=mobile--lg") {
				grid-column: span 1;

				&:first-child {
					grid-column: span 2;
					grid-row: span 2;
				}
			}

			@include media(">=tablet--sm") {
				grid-column: span 3;

				&:first-child {
					grid-column: span 6;
					grid-row: span 1;
				}
			}

			@include media(">=small") {
				grid-column: span 1;

				&:first-child {
					grid-column: span 2;
					grid-row: span 2;
				}
			}

			& > a {
				// .instagram-pics > li > a
				overflow: hidden;
			}
		}
	}

	& > p > a {
		// .instagram-pics > p > a
		@include btn();
		display: block;
	}
}

/*
* — Spotify —
*/

iframe[src*="spotify"] {
	display: block;
	width: 100%;
	height: 300px;
}

.widget__spotify {

}
