/*
* === FAQ ===
*/

.faq {
	border-left: 5px $color__blue solid;
	padding-left: $small-spacing;
	margin-bottom: $base-spacing;
	&__question {
		// .faq__question
		@include event-info();
	}
	&__answer {
		// .faq__answer
		margin-bottom: 0;
	}
}