/*
* === GALLERY ===
*/

.gallery {
	@include clearfix();
	transition: height $base-duration;
	
	&__date {
		// .gallery__date
		@include event-info();
	}
	
	&__title {
		// .gallery__title
		@include page-title();
	}
	
	&__featured {
		// .gallery__featured
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: $small-spacing;
		width: 100%;
		margin-bottom: $base-spacing;
	}
	
	&__image {
		// .gallery__image
		grid-column: span 12;
		position: relative;
		@include size(auto, 150px);
		overflow: hidden;
		box-shadow: 0 0 5px 0 fade-out($color__black, 0.85);
		@include media(">=mobile--sm") { grid-column: span 6; }
		@include media(">=tablet--lg") { grid-column: span 4; }
		@include media(">=small") {
			grid-column: span 3;
			height: 200px;
			&:hover,
			&:focus {
				.gallery__image--caption { transform: translate3d(0, 0, 0); }
			}
		}
		@include media(">=large") { grid-column: span 2; }
		@include media(">=tv") { grid-column: span 1; }

		&--img {
			// gallery__image--img
			@include size(100%);
			object-fit: cover;
		}
		
		&--caption {
			// .gallery__image--caption
			@include position(absolute, null 0 0 0);
			background-color: fade-out($color__black, 0.15);
			color: $color__white;
			font-size: .75em;
			font-weight: 700;
			text-align: center;
			@include text-overflow();
			line-height: 1em;
			letter-spacing: 1px;
			width: 100%;
			padding: $small-spacing;
			@include media(">=small") {
				transform: translate3d(0, 100%, 0);
				transition: transform $base-duration;
			}
		}
		
		&--link {
			// .gallery__image--link
			@include block-link();
			z-index: 10;
		}
	}
	
	&__text {
		// .gallery__text
		margin-bottom: $base-spacing;
	}
	
	&__button {
		// .gallery__button
		text-align: center;
	}
}

.galleries {
	
//	&__title {
//		// .galleries__title
//		@include page-title();
//		
//		@include media(">=small") {
//			margin-bottom: $base-spacing;
//		}
//	}
	
	&__pagination {
		// .galleries__pagination
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		
		.pagination {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: auto;
			margin-right: auto;
			
			&__page {
				// .pagination__page
				margin-left: $small-spacing / 2;
				margin-right: $small-spacing / 2;
			}
		}
	}
}

.album {
	position: relative;
	padding: 0;
	margin: 0 0 $base-spacing;
	transition: border-color $base-duration;

	@include media(">=small") {
		margin-bottom: $base-spacing * 3;
	}
	
	&__photosteam {
		// .album__photostream
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 1fr 1fr;
		height: 200px;
		margin-bottom: $small-spacing;
		@include box-shadow();
		@include media(">=small") {
			height: 300px;
		}

		a {
			background-color: $color__black;
			&:hover,
			&:focus {
				outline: none;
				img { opacity: 0.33; }
			}
		}

		& > *:nth-child(1) {
			grid-column: span 2;
			grid-row: span 2;
		}

		& > *:nth-child(n+7) {
			display: none;
		}
		
		.view-all {
			@include btn();
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			span + span { margin-top: 5px; }
		}
		
		img {
			@include size(100%, 100px);
			min-height: 100%;
			margin: 0 auto;
			opacity: 1;
			object-fit: cover;
			transition: opacity $base-duration;

			@include media(">=small") {
				height: 150px;
			}
		}

		& > *:nth-child(1) {
			img { height: 200px; }

			@include media(">=small") {
				img { height: 300px; }
			}
		}
	}
	
	&__title {
		// .album__title
		font-size: 1.25em;
		
		@include media(">=small") {
			@include position(absolute, 0 null null null);
			background-color: $color__black;
			color: $color__white;
			padding: $base-spacing;
			margin-bottom: $base-spacing;
			transform: translateY(-50%);
			z-index: 1;
		}
	}
	
	&__button {
		// .album__button
		text-align: left;
	}
	
	&__link {
		// .album__link
		display: none;
//		@include block-link();
	}
	
	&:focus {
		outline-offset: 4px;
	}
}