/**
 * === HOME ===
 */

.home__banner {
	margin: #{$gutter * 2} auto;
}

.home__content {
	@extend %texture--light;

	@include media(">=tablet--sm") {
		grid-column: span 2;
		order: 3;
	}

	@include media(">=small") {
		grid-column: span 3;
	}

	&--more {
		// .home__content--more
		.button:first-child {
			border-radius: 0 !important;
		}
		.button:last-child {
			border-radius: 0 !important;
		}
		.ui.basic.primary.button {
			color: $color__black--light !important;
			box-shadow: inset 0px 0px 0px 2px $color__black--light !important;
		}
		.ui.primary.button.animated {
			background-color: $color__black--light !important;
			box-shadow: inset 0px 0px 0px 2px $color__black--light !important;
		}
		& > .basic.primary.button:not(:first-child) {
			margin-left: -2px !important;
		}
	}
}

.home__title {
	@include page-title();
}

body.home .page__title {
	@include hidden();
}

.home__featured {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: $base-spacing;
	align-items: start;
	margin-bottom: $base-spacing;
}

.home__intro {
	font-size: 1.25em;
	max-width: 640px;
	margin-bottom: $small-spacing;
}

.home__events {}
